/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

.entry-content{
	font-size: 1.80rem;
}
.author-title{
	font-size: 1.30rem;
}

.type-post {
	margin-bottom: 2.5rem;
}

body{
	background-color: $color__background-body;
	color: $color__text-main;
	font-family: $font__main;
	font-size: 16px;
}

.admin-bar{
	padding: 1rem;
}

@media (min-width: $desktop-width) {

	#show-another{
		display: block;
		margin: 0 auto;
	}

	.site-container{
		margin: 0 auto;
		max-width: 1080px;
		padding: 3.5rem;
	}
	.entry-content p {
		font-size: 2rem;
	}

	.site-content::before{
		position: absolute;
	}
}


fieldset{
	border: none;
	color: $color__link;

	button{
	border:none;
	padding-left: 1rem;
	padding-right: 1rem;
	}

	i{
		font-family: FontAwesome;
		font-size: 1.25rem;
		font-style: normal;
	}
}

.site-container{
    max-width: 1080px;
    padding: 3rem;
    width: auto;
}

.archive,
.tag{

h1{
	border-bottom: 1px dashed #fff;
	padding-bottom: 1.5rem;
}

.type-post{
	border-bottom: 1px dashed #ffffff;
	padding-bottom: 1.5rem;
}
}