/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 2px solid #0c0;
	background-color: #222;
	border-radius: 3px;
	color: #0c0;
	font-size: 1rem;
	font-weight: bold;
	line-height: 1;
	padding: .75rem 2.25rem;

	&:hover {
		border-color: $color__link-hover;
		color: $color__link-hover;

	}

	&:active,
	&:focus {
		border-color: #aaa #bbb #bbb;
		box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
	}
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;

	&:focus {
		color: #111;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}
