.logo-image img{
	width: 300px;
}

@media (min-width: $tablet-width) {
	.logo-image img{
	width: 500px;
	}
}

@media (min-width: $desktop-width) {
    .logo-image {
        text-align: center;
    img{
	width: 700px;
	margin: 0 auto;
    }
}
}